<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context   
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd "
    >

	<context:component-scan
		base-package="hafy" /> 
	<mvc:annotation-driven>    <!-- mvc annotation 쓰겠다는 뜻 -->
		<mvc:message-converters>
			<bean
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">     <!-- json 형태로 변환되게끔 -->
				<property name="supportedMediaTypes">
					<list>
						<value>text/html; charset=UTF-8</value>
						<value>application/json; charset=UTF-8</value>
					</list>

				</property>
			</bean>


			<bean
				class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/html; charset=UTF-8</value>
					</list>
				</property>

			</bean>
		</mvc:message-converters>

	</mvc:annotation-driven>

<!-- centos 7 환경 -->
<!-- 	<bean id="dataSource" -->
<!-- 		class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"> -->
<!-- 		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"></property> -->
<!-- 		<property name="url" value="jdbc:oracle:thin:@192.168.119.119:1521:dink"></property> -->
<!-- 		<property name="username" value="scott"></property> -->
<!-- 		<property name="password" value="tiger"></property> -->

<!-- 	</bean> -->

	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"></property>
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:ORCL"/>
		<property name="username" value="system"></property>
		<property name="password" value="Qwert12345"></property>

	</bean>
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation" value="classpath:config/mybatis/sqlMapConfig.xml"></property>
		<property name="mapperLocations" value="classpath:config/sqlmap/oracle/*.xml"></property>
		
	</bean>
	
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory"></constructor-arg>
	</bean>

	<mvc:default-servlet-handler />


	<mvc:view-controller path="/displayForm"
		view-name="display/displayForm" />  <!-- path로 경로 검색했을때 view-name으로 포워드해줘라 -->
	<bean
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
		id="multipartResolver">
		<property name="maxUploadSize" value="10485760"></property>
	</bean>
	
	
<!-- 	JUnit 테스트할때 주석 풀어줘야함... servletContext를 썼기 때문에 필요한거임 -->
<!-- 	<bean class="org.springframework.mock.web.MockServletContext"/> -->
	
	
	<mvc:view-resolvers>     <!-- 뷰(jsp) 연동 -->
		<mvc:jsp prefix="/WEB-INF/jsp/" suffix=".jsp" />     <!-- prefix 아래에 있는 jsp 폴더를 포워드하겠다는... -->
	</mvc:view-resolvers>
	
	
	
	<!-- 인터셉터 처리 -->
	<bean class="hafy.interceptor.LoginInterceptor" id="loginInterceptor"></bean>
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**/"/>  <!-- /뒤에 depth가 몇이든 간에 -->
			
			<mvc:exclude-mapping path="/login"/>
			<mvc:exclude-mapping path="/cover"/>
<!-- 			<mvc:exclude-mapping path="/logout"/> login uri를 제외하고 인터셉터로 거치게끔 -->
<!-- 			<mvc:exclude-mapping path="/board"/> login uri를 제외하고 인터셉터로 거치게끔 -->
<!-- 			<mvc:exclude-mapping path="/resources/**"/> login uri를 제외하고 인터셉터로 거치게끔 -->
			
<!-- 			<mvc:mapping path="/board/*"/>  uri가 board 이하면 작동함 -->
<!-- 			<mvc:mapping path="/board/write"/>  uri가 뭐든 loginInterceptor가 작동하게끔 할거다라는 뜻 / uri가 write면 작동함 -->
<!-- 			<mvc:mapping path="/board/detail/*"/>  uri가 뭐든 loginInterceptor가 작동하게끔 할거다라는 뜻 / uri가 write면 작동함 -->

			<ref bean="loginInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
	
	
	<!-- 트랜잭션 처리 -->
	<bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="transactionManager">
		<property name="dataSource" ref="dataSource"></property>	
	</bean>
	
	<tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>
	 
	
	

</beans>