@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; /* border을 기준으로 boxing되게끔 */
	outline: none;
	word-break: break-all; /* 줄바꿈할때 단어 끊어짐 신경쓰는 */
}

html {
	/*     height: 100%; */
	font-size: 25px;
	/*     line-height: 3.5rem; */
	font-family: '하나', sans-serif;
	text-rendering: optimizeSpeed; /* 텍스트 렌더링 좀더 빠르게 */
/* 	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
}

body {
	/* 	font-size:  */
	/*     min-height: 100%; */
	/*     background: black; */
/* 	color: white; */
	/*     position: absolute; */
}
