<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board.dao.BoardDAO">

	<resultMap type="boardVO" id="boardMap">
		<result column="view_cnt" property="viewCnt" />
		<result column="reg_date" property="regDate" />
	
	</resultMap>

	<select id="selectByNo" resultMap="boardMap" parameterType="int">
		select no, title, writer, content, view_cnt
			,reg_date
		from t_board
		where no = #{no}
	</select>


	<select id="selectAll" resultType="boardVO">
		select no, title, writer,
		view_cnt, reg_date
		from t_board
	</select>
	
<!-- 	<insert id="insert" parameterType="boardVO"> -->
<!-- 		insert into t_board title, writer, content;  -->
<!-- 	</insert> -->

	<!-- 댓글 카운트 증가 -->
	<update id="incrementReplyCnt" parameterType="int">
		update t_board
			set reply_cnt = reply_cnt + 1
		where no = #{no}
	</update>
	
	<!-- 댓글 카운트 감소 -->
	<update id="decrementReplyCnt" parameterType="int">
		update t_board
			set reply_cnt = reply_cnt - 1
		where no = #{no}
	</update>
	
	




</mapper>
