<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reply.dao.ReplyDAO">
	<insert id="insert" parameterType="replyVO">
		insert into t_reply(no, board_no, content, writer)
		 values(seq_t_reply_no.nextval, #{boardNo}, #{content}, #{writer})
	</insert>
	
	<!-- 게시물 번호의 해당 댓글리스트 조회 -->
	<select id="selectAll" parameterType="int" resultType="replyVO">
		select no, board_no as boardNo, content, writer, to_char(reg_date,'yyyy-mm-dd') as regDate
		from t_reply
		where board_no = #{boardNo}
		order by no desc
	</select>
	
	<select id="selectBoardNo" parameterType="int" resultType="int">   <!-- select니까 resultType 존재 -->
		select board_no from t_reply where no = #{no}
	</select>
	
	<!-- 댓글 삭제 -->
	<delete id="delete" parameterType="int">
		delete t_reply
		where no = #{no}
	</delete>
	
	
	
	
</mapper>